<h1>Sign Up</h1>
<form method="POST">
    <label for="usename">Username</label>
    <input id="username" type="text" name="username" placeholder="User name" required>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required>
    
    <button>Sign Up</button>
</form>